//-
	Контактная форма

form
	.form-group
		input.form-control.form-control-lg( type="text", value="", placeholder="Ваше имя" )
	.form-group
		input.form-control.form-control-lg( type="email", value="", placeholder="Ваш email" )
	.form-group
		textarea.form-control.form-control-lg
	.form-group
		button( type="submit" ) Отправить