//-
	Форма поиска для WP

form.searchform.form( role="search" method="get" action="#" )  
	input.form-control( type="text" value="" name="s" placeholder="Поиск ..." )
	button.searchsubmit( type="submit" ) #[span.sr-only Найти]