

%small { font-size: 80%; }

%list-unstyled { @include list-unstyled; }

%list-inline { @include list-inline; }

%xy-center { @include xy-center; }

%center-block { @include center-block; }

%link-unstyled {
	@include td ( inherit, inherit );
	@include color ( inherit, inherit, inherit, inherit );
}

%clearfix { @include clearfix; }

%text-overflow { @include text-overflow; }

%dl-horizontal { @include dl-horizontal; }


%title {
	color: $titles-color;
	font-weight: bold;
  	margin: 0.2em auto;
}

%parallax {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

%background-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

%background-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

@for $i from 1 through 3 {
	%m-#{$i} { margin: 1rem * $i; }
	%mt-#{$i} { margin-top: 1rem * $i; }
	%mb-#{$i} { margin-bottom: 1rem * $i; }
	%ml-#{$i} { margin-left: 1rem * $i; }
	%mr-#{$i} { margin-right: 1rem * $i; }
	%p-#{$i} { padding: 1rem * $i; }
	%pt-#{$i} { padding-top: 1rem * $i; }
	%pb-#{$i} { padding-bottom: 1rem * $i; }
	%pl-#{$i} { padding-left: 1rem * $i; }
	%pr-#{$i} { padding-right: 1rem * $i; }
}