//-
	Главная страница 
	Слайдер

.section.section--cover

	.bg.lazy( data-src=src.userfiles+'firstscreen/bg.jpg' )

	.container

		h1.title #{blog.name}
		p.excerpt #{blog.description}
		p.text-center: a.btn.btn-success.btn-lg( href="#" ) Регистрация