
//-
	Секция главной страницы "О школе"

section.section.section--smallinfo
	.section__heading.heading
		.container
			h2.title Цель проекта
			p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum imperdiet fringilla.
	.section__inner.inner
		.container
			.row.middle-xs
				.col-xs-12.col-sm-6
					p.text-center
						img.wp-post-thumbnail.lazy( src="#" data-src=src.userfiles+'pstu.png' alt="Лого ПГТУ" )
				.col-xs-12.col-sm-6
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum imperdiet fringilla. Integer porttitor vehicula vestibulum. Praesent quis arcu ex. Phasellus varius blandit dapibus. Maecenas sollicitudin eu ligula nec gravida. In vel eros sagittis, fringilla elit at, laoreet ante. Sed a ipsum lacus. Nulla facilisi. Ut elit nunc, volutpat lobortis efficitur blandit, pellentesque ac velit.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum imperdiet fringilla. Integer porttitor vehicula vestibulum. Praesent quis arcu ex. Phasellus varius blandit dapibus. Maecenas sollicitudin eu ligula nec gravida. In vel eros sagittis, fringilla elit at, laoreet ante. Sed a ipsum lacus. Nulla facilisi. Ut elit nunc, volutpat lobortis efficitur blandit, pellentesque ac velit.
					p: a.btn.btn-lg.btn-success( href="#" ) Подробнее