
// Подвал сайта




.footer {

	&__copyright {
		text-align: center;
		@include min-width( $screen-sm ) {
			text-align: left;
		}
	}

	&__developer {
		text-align: center;
		color: #fff;
		@include min-width( $screen-sm ) {
			text-align: right;
		}
	}

	a {
		color: #fff;
	}

}