
// Подвал сайта




.footer {

	&__copyright {
		text-align: center;
		@include min-width( $screen-sm ) {
			text-align: left;
		}
	}

	&__socials {
		text-align: center;
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		@include min-width( $screen-sm ) {
			text-align: right;
		}
		.item {
			@extend %background-icon;
			@include size( 2rem, 2rem );
			display: inline-block;
			vertical-align: middle;
		}
		.item + .item { margin-left: 1rem; }
		.item--odnoklassniki { @extend %icon-odnoklassniki; }
		.item--vkontacte { @extend %icon-vkontacte; }
		.item--instagram { @extend %icon-instagram; }
		.item--facebook { @extend %icon-facebook; }
	}

}