
//  Шапка сайта
.header {

	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}

	.col {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		@include min-width( $screen-md ) {
			width: 50%;
		}
	}
	
	.custom-logo-link {
		max-width: 5rem;
		max-height: 5rem;
		flex-shrink: 0;
	}

	.custom-logo-link + .bloginfo {
		margin-left: 1rem;
	}

	.custom-logo {
		display: block;
		width: 100%;
		height: auto;
	}

	.bloginfo {
		//
	}

	.bloginfo .name {
		@extend %h3;
		margin-bottom: 0;
	}

	.bloginfo .description {
		color: $titles-color;
		font-size: 85%;
	}


	.socials {
		text-align: center;
		list-style-type: none;
		padding-left: 0;
		margin: .5rem auto 0 0;
		flex-shrink: 0;
		@include min-width( $screen-md ) {
			margin: 0 0 0 auto;
		}
		.item {
			@extend %background-icon;
			@include size( 1.5rem, 1.5rem );
			display: inline-block;
			vertical-align: middle;
			@include min-width( $screen-md ) {
				@include size( 2rem, 2rem );
			}
		}
		.item + .item { margin-left: .5rem; }
		.item--linkedin { @extend %icon-linkedin; }
		.item--twitter { @extend %icon-twitter; }
		.item--instagram { @extend %icon-instagram; }
		.item--facebook { @extend %icon-facebook; }
		.item--youtube { @extend %icon-youtube; }
	}

	.search {
		margin: .5rem 1rem;
		flex-shrink: 0;
		color: $brand-default;
		@include min-width( $screen-sm ) {
			margin: 0 1rem;
		}
	}

	.search::after {
		@extend %icon-search;
	}

	.languages {
		list-style-type: none;
		padding-left: 0;
		margin: 0 .5rem;
		font-size: 85%;
		flex-shrink: 0;
	}

	.languages li {
		display: inline-block;
	}

	.languages .current {
		font-weight: bold;
		color: #fff;
		background-color: $brand-success;
		padding: .25rem .5rem;
	}

	.languages a {
		display: block;
		// font-size: 85%;
	}

}