















.calendar_wrap {
	table {
		width: 100%;
		text-align: center;
	}
	td {
		padding: 0;
		line-height: 2.5em;
	}
	tbody td + td {
		border-left: 1px solid lighten( $brand-primary, 25% );
	}
	tbody tr + tr td {
		border-top: 1px solid lighten( $brand-primary, 25% );
	}
	#today {
		background-color: $brand-primary;
		color: #fff;
	}
	#today a {
		color: #fff;
		background-color: transparent;
	}
	a {
		display: block;
		width: inherit;
		height: inherit;
		color: $brand-primary;
		font-weight: bold;
		transition: color 200ms, background-color 200ms;
	}
	a:hover {
		text-decoration: none;
		background-color: $brand-warning;
		color: #fff;
	}
}