
// стандартная форма поиска
.searchform {
	position: relative;
	.form-control {
		padding-right: 3em;
	}
	.searchsubmit {
		@extend %icon-search;
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: transparent;
		padding: 0;
		margin: 0;
		width: 2em;
		border-bottom: none;
		background-size: 75%;
		background-repeat: no-repeat;
		background-position: center center;
		filter: opacity( 25% );
		transition: filter .25s;
	}

	.searchsubmit:hover {
		filter: opacity( 100% );
	}

}