
// сайдбар низа сайта
.basement {

	.widget {
		margin-bottom: 1rem;
	}

	.widget:nth-child( 3n + 1 ) {
		padding-right: 2rem;
	}

	.widget:nth-child( 3n + 2 ) {
		padding-right: 2rem;
	}

	.widget:nth-child( 3n + 3 ) {
		//
	}

}