
// секция с о списком подстраниц
.section--pages {

	.entry + .entry {
		margin-top: $flexboxgrid-outer-margin;
	}

	.wp-post-thumbnail {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 25rem;
	}

}