
// виждет "Навигационное меню"
class.menu-idtitle-container
	ul.menu
		li.menu-item: a( href="#" ) Test
		li.menu-item: a( href="#" ) Test
		li.menu-item: a( href="#" ) Test
		li.menu-item: a( href="#" ) Test
		li.menu-item: a( href="#" ) Test
		li.menu-item: a( href="#" ) Test
		li.menu-item: a( href="#" ) Test