

.accordion-section .accordion-section-title::before{
	display: inline;
	font: normal 20px/1 dashicons;
	vertical-align: middle;
}

#accordion-panel-template_parts .accordion-section-title::before {
	content: "\f489";
}

#accordion-panel-page_templates .accordion-section-title::before {
	content: "\f105";
}