.content
	h2 Illo officiis id ullam quisquam molestias voluptatum  #[sup h2]
	h3 Unde quasi temporibus in saepe ad neque ut iste fugit #[sup h3]
	h4 Odio iure quas illo officiis id ullam quisquam molest #[sup h4]
	a.fancybox( href=src.img+'large.jpg' ): figure.alighright.pull-right
		img( src=src.img+'medium.jpg' alt='Пример изображения' )
		figcaption Пример изображения
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet alias doloremque nostrum debitis commodi reiciendis id, aut, repudiandae asperiores perspiciatis pariatur labore earum quisquam vero voluptatem, in officiis magnam natus.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet alias doloremque nostrum debitis commodi reiciendis id, aut, repudiandae asperiores perspiciatis pariatur labore earum quisquam vero voluptatem, in officiis magnam natus.
	p Nihil provident, minus possimus error odio iure quas illo officiis id ullam quisquam molestias voluptatum tempora sequi tenetur doloremque, vitae odit. Iure tempora recusandae tenetur natus blanditiis maiores officia facilis!
	p Unde possimus culpa tempora, dicta nobis consequuntur quidem maiores necessitatibus molestiae officia mollitia eius libero, voluptatem alias nostrum ratione voluptates, excepturi magni repellat esse dolorum laborum cumque odio ducimus labore.
	br.clearfix
	.row
		.col-xs-12.col-sm-6: ul
			li Lorem ipsum dolor sit ametconsectetur adipisicing elit
			li Consequatur expedita, consequuntur sit voluptatibus nihil ratione
			li Soluta odit tempore earum illo repudiandae
			li Ipsum aperiam facere iure libero vel et doloribus corrupti!
		.col-xs-12.col-sm-6: ol
			li Lorem ipsum dolor sit ametconsectetur adipisicing elit
			li Consequatur expedita, consequuntur sit voluptatibus nihil ratione
			li Soluta odit tempore earum illo repudiandae
			li Ipsum aperiam facere iure libero vel et doloribus corrupti!
	table
		thead
			th Заголовок столбца
			th Заголовок столбца
			th Заголовок столбца
		tbody
			tr
				td Строка
				td Строка
				td Строка
			tr
				td Строка
				td Строка
				td Строка
			tr
				td Строка
				td Строка
				td Строка
			tr
				td Строка
				td Строка
				td Строка
	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, ipsam libero voluptatibus ipsa, sunt, autem commodi unde quasi temporibus in saepe ad neque ut iste fugit aspernatur cum, dolorem. Fugiat? Lorem ipsum, dolor sit amet consectetur, adipisicing elit. Rerum perspiciatis illum exercitationem, modi, dolor dolorum delectus velit aliquid id magni quo nihil molestiae dolorem rem praesentium vel ipsam ipsum a?
	p Nihil provident, minus possimus error odio iure quas illo officiis id ullam quisquam molestias voluptatum tempora sequi tenetur doloremque, vitae odit. Iure tempora recusandae tenetur natus blanditiis maiores officia facilis!
	p Unde possimus culpa tempora, dicta nobis consequuntur quidem maiores necessitatibus molestiae officia mollitia eius libero, voluptatem alias nostrum ratione voluptates, excepturi magni repellat esse dolorum laborum cumque odio ducimus labore.
	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, ipsam libero voluptatibus ipsa, sunt, autem commodi unde quasi temporibus in saepe ad neque ut iste fugit aspernatur cum, dolorem. Fugiat? Lorem ipsum, dolor sit amet consectetur, adipisicing elit. Rerum perspiciatis illum exercitationem, modi, dolor dolorum delectus velit aliquid id magni quo nihil molestiae dolorem rem praesentium vel ipsam ipsum a?