//-
	Подвал сайта

.container
	.row.middle-xs
		.col-xs-12.col-sm-6
			p.footer__copyright.copyright( role="contentinfo" ) © #{blog.name}, 2021
		.col-xs-12.col-sm-6
			p.footer__developer.developer Разработано #[a( href="https://cct.pstu.edu/" ) ЦКТ ПГТУ]