//-
	Подвал сайта

.container
	.row.middle-xs
		.col-xs-12.col-sm-6
			p.footer__copyright.copyright( role="contentinfo" ) © #{blog.name}, 2020 
		.col-xs-12.col-sm-6
			.footer__socials.socials( role="list" )
				a.socials__item.item.item--odnoklassniki( href="#" role="listitem" ) #[span.sr-only Мы в Одноклассниках]
				a.socials__item.item.item--vkontacte( href="#" role="listitem" ) #[span.sr-only Мы в Контакте]
				a.socials__item.item.item--instagram( href="#" role="listitem" ) #[span.sr-only Мы в Instagram]
				a.socials__item.item.item--facebook( href="#" role="listitem" ) #[span.sr-only Мы в Facebook]