//-
	Шапка сайта

.container

	.col
	
			a.custom-logo-link( href="#" title="На главную" )
				img.custom-logo( src=src.userfiles+'logo.png', alt=blog.name )

			.bloginfo
				.name #{blog.name}
				.description #{blog.description}

	.col

			ul.languages
				li.current En
				li: a( href="#" ) Ru

			a.btn.btn-withicon.search.fancybox( href="#header-search-modal" ) Поиск
			#header-search-modal( style="display: none;" )
				include ../forms/_search

			include ../blocks/_socials
