//-
	Шапка сайта

.container

	.col
	
			a.custom-logo-link( href="#" title="На главную" )
				img.custom-logo( src=src.userfiles+'logo.png', alt=blog.name )

			.bloginfo
				.name #{blog.name}
				.description #{blog.description}

	.col

			.socials( role="list" )
				a.socials__item.item.item--linkedin( href="#" role="listitem" ) #[span.sr-only Наш профиль в LinkedIn]
				a.socials__item.item.item--twitter( href="#" role="listitem" ) #[span.sr-only Наш профиль в Twiiter]
				a.socials__item.item.item--instagram( href="#" role="listitem" ) #[span.sr-only Наш профиль в Instagram]
				a.socials__item.item.item--facebook( href="#" role="listitem" ) #[span.sr-only Наш профиль в Facebook]
				a.socials__item.item.item--youtube( href="#" role="listitem" ) #[span.sr-only Наш канал на YouTube]

			a.btn.btn-withicon.search.fancybox( href="#header-search-modal" ) Поиск

			#header-search-modal( style="display: none;" )
				include ../forms/_search

			ul.languages
				li.current En
				li: a( href="#" ) Ru