//-
	Меню навигации

.container

	ul.nav__list.list#nav-list
		li.menu-item.current-menu-item: a.active-menu( href="home.html" ) Главная
		li.menu-item: a(href="page.html") Постоянная странциа
		li.menu-item: a(href="404.html") Страница 404
		li.menu-item: a(href="search.html") Результаты поиска
		li.menu-item: a(href="archive.html") Блог
		
	button.toggle-button#toggle-button #[span.label Открыть меню]