//-
	социальные сети

.socials( role="list" )
	a.socials__item.item.item--linkedin( href="#" role="listitem" ) #[span.sr-only Наш профиль в LinkedIn]
	a.socials__item.item.item--twitter( href="#" role="listitem" ) #[span.sr-only Наш профиль в Twiiter]
	a.socials__item.item.item--instagram( href="#" role="listitem" ) #[span.sr-only Наш профиль в Instagram]
	a.socials__item.item.item--facebook( href="#" role="listitem" ) #[span.sr-only Наш профиль в Facebook]
	a.socials__item.item.item--youtube( href="#" role="listitem" ) #[span.sr-only Наш канал на YouTube]