//
//    WRAPPER
//    контейнер страницы, прижатие футера


.wrapper {

	margin: 0px auto;
	min-width: 300px;
	min-height: 100vh;
	box-shadow: 0 0 .25rem rgba( 0, 0, 0, 0.25 );
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: stretch;

	&__header {
		padding: 1rem 0;
	}

	&__nav {
		background-color: $brand-success;
		color: #fff;
		min-height: 2rem;
	}

	&__column {
		//
	}

	&__main {
		@extend %mb-3;
		min-height: 50vh;
	}

	&__basement {
		@extend %mt-3;
		@extend %mb-3;
		padding: .5rem 0;
		position: relative;
	}

	&__footer {
		@extend %mt-3;
		background-color: $brand-success;
		color: #fff;
		padding-top: .5rem;
		padding-bottom: .5rem;
		margin-top: auto;
	}

}